<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kakaovx.homet.tv">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Android TV UI  false : all devices, true: tv-->
    <uses-feature android:name="com.google.android.tv" android:required="true"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:logo="@drawable/ic_tv_app_icon"
        android:banner="@drawable/ic_tv_app_icon"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity
            android:name=".page.MainActivity"
            android:launchMode="singleTop"
            android:banner="@drawable/ic_tv_app_icon"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:logo="@drawable/ic_tv_app_icon"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboard|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".lgtv.OMAReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="WAKE_UP_COMPLETED_ALARM" />
                <action android:name="com.lguplus.iptv3.ui.action.INITIATED" />
                <action android:name="android.lgt.appstore.LIVE_UPDATE_AUTO" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".lgtv.ExternalReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.uplus.artvstb.REQUEST"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>